[submodule "external/sexpr-wasm"]
	path = external/sexpr-wasm
	url = https://github.com/WebAssembly/sexpr-wasm-prototype
[submodule "external/testsuite"]
	path = external/testsuite
	url = https://github.com/WebAssembly/testsuite
