[submodule "external/testsuite"]
	path = external/testsuite
	url = https://github.com/WebAssembly/testsuite
[submodule "external/spec"]
	path = external/spec
	url = https://github.com/WebAssembly/spec
